{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block header_title %}Add Category{% endblock %}
{% block content %}
<!-- Todo add validation -->
<form class="form-horizontal" action="{{ url_for('add_category')}}" method="post">
    <div class="form-group">
        <label for="name" class="col-sm-2">Category Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" name="name" placeholder="Category Name">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
{% endblock %}
