{% extends "base.html" %}
{% block title %}Add Category{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{{ url_for('get_catalog') }}">Categories</a></li>
    <li class="active">Add Category</li>
</ul>
{% endblock %}
{% block content %}
<!-- Todo add validation -->
<form class="form-horizontal" action="{{ url_for('add_category')}}" method="post">
    <div class="form-group">
        <label for="name" class="col-sm-2">Category Name:</label>
        <div class="col-sm-5">
            <input type="text" id="name" class="form-control" name="name" placeholder="Category Name">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
{% endblock %}
