<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap-theme.min.css') }}">
    <title>{% block title %}{% endblock %} - Item Catalog</title>
</head>
<body>
    <div class="container">
        <div class="page-header clearfix">
            <h1>Item Catalog</h1>
            {% if 'user' in g %}
                <div>Welcome {{g.user.name}}
                    <a href="{{ url_for('logout') }}" class="btn btn-danger pull-right">Logout</a>
                </div>
            {% else %}
                <div>Welcome to the Item Catalog
                    <a href="{{ url_for('login') }}" class="btn btn-success pull-right">Login</a>
                </div>
            {% endif %}
        </div>
        <div class="row">
           <div class="col-sm-12">
               {% block breadcrumb %}{% endblock %}
               <div class="pull-right">
                   <div class="btn-group">
                       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                           Menu <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu" role="menu">
                           <li><a href="{{ url_for('add_item')}}">Add New Item</a></li>
                           <li><a href="{{ url_for('add_category')}}">Add New Category</a></li>
                       </ul>
                   </div>
               </div>
           </div>
        </div>
        <div class="row" id="content">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>