{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
    <li class="active">Categories</li>
</ul>
{% endblock %}
{% block content %}
<ul class="list-group">
    {% for category in categories %}
        <a href="{{ url_for('get_category_items', category_id=category.id) }}" class="list-group-item">
            {{category.name}}<span class="badge">{{number_of_items(category.id)}}</span>
        </a>
    {% endfor %}
</ul>
{% endblock %}
